@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@font-face {
  font-family: 'CuteFrog';
  src: url('../../assets/font/CuteFrog.ttf') format('truetype'),
       url('../../assets/font/CuteFrog.otf') format('opentype');
}


body {
  font-family: 'Fredoka One';
  margin: 0;
  padding: 0;
  background-image: url('../../assets/pondBackground.jpg');
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  text-shadow:
  -1px -1px 0 green,
   1px -1px 0 green,
  -1px  1px 0 green,
   1px  1px 0 green;
}

#title-container {
    display: flex;
    justify-content: space-between;
}

h1 {
  font-size: 3em;
  margin: 0;
  color: white;
}

#author {
  font-size: 1.2em;
  margin: 0;
  color: white;
}

#instructions-box {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 180px;
  height: 140px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #00f6e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin: 100px 0px;
  margin-right: 25px;
  padding: 64px 0px;
}

#instructions {
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  color: #5993b1;
  line-height: 1.2;
}

#canvas-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#github-link, #linkedin-link {
  display: block;
  width: 30px;
  height: 30px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  // border: 1px solid white;
}

#github-link {
  background-image: url('../../assets/gitHubLogo.png');
}

#linkedin-link {
  background-image: url('../../assets/linkedInLogo.png');
}
