@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

body {
  font-family: 'Fredoka One', sans-serif;
  margin: 0;
  padding: 0;
//   background-color: #78c5d6;
background-image: url('../../assets/pondBackground.jpg');
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#title-container {
    display: flex;
    justify-content: space-between;
}

h1 {
  font-size: 3em;
  margin: 0;
  color: #fff;
}

#author {
  font-size: 1.2em;
  margin: 0;
  color: #fff;
}

#instructions-box {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 180px;
  height: 140px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#instructions {
  font-size: 1.2em;
  margin: 0;
  text-align: center;
}

#canvas-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#github-link, #linkedin-link {
  display: block;
  width: 30px;
  height: 30px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: contain;
}

#github-link {
  background-image: url('../../assets/gitHubLogo.png');
}

#linkedin-link {
  background-image: url('../../assets/linkedInLogo.png');
}

// @media screen and (max-width: 768px) {
//   h1 {
//     font-size: 2em;
//   }
//   #author {
//     font-size: 1em;
//   }
//   #instructions-box {
//     width: 140px;
//     height: 100px;
//   }
// }
